body {
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
}
h1 {
	font-family: 'Nunito', sans-serif;	
}
h2 {
	font-family: 'Nunito', sans-serif;	
}
h3 {
	font-family: 'Nunito', sans-serif;	
}
h4 {
	font-family: 'Nunito', sans-serif;	
}
h5 {
	font-family: 'Nunito', sans-serif;	
}
h6 {
	font-family: 'Nunito', sans-serif;	
}
button {
	font-family: 'Nunito', sans-serif;	
}
textarea {
	font-size: 28px;
}
mark {
    background-color: #00ff00;
}
.code {
	font-family: 'Inconsolata', monospace;
	background-color: #dddddd;
	border: 1px solid #aaaaaa;
	padding: 10px;
	line-height: 1.2;
	overflow: auto;
}
#main-container {
	margin: 10px;
}
.horizontal-space {
	height: 10px;
}
.static-text {
    background-color: #dddddd;
	border: 1px solid #aaaaaa;
	overflow: auto;
	padding: 10px;
	font-size: 16px;
}
.code-input {
	font-family: 'Inconsolata', monospace;
	border: 1px solid #aaaaaa;
	font-size: 16px;
	overflow: auto;
	padding: 10px;
}
[contenteditable=true]:empty:not(:focus):before{
	content:attr(data-placeholder)
}