body {
	background-image: url("/static/img/planets/background.png");
}
#panel {
	background: rgba(255,255,255,0.85);
	height: 90vh;
	padding: 10px;
	font-size: 14px;
	border-radius: 12px;
	overflow: auto;
}
#next {
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 16px;
	transition-duration: 0.3s;
	font-size: 32px;
	margin-top: 20px;
	cursor:pointer;
}
#next:hover {
	background-color: #555555;
	border-radius: 2px;
}
#restore-default {
	background-color: #0000ff;
	color: white;
	border-radius: 10px;
	padding: 8px;
	transition-duration: 0.3s;
	font-size: 18px;
	margin-top: 15px;
	cursor:pointer;
	display: none;
}
#restore-default:hover {
	background-color: #0000aa;
	border-radius: 2px;
}
#code {
	font-family: 'Inconsolata', monospace;
	padding: 10px;
	overflow: auto;
	font-size: 16px;
	resize: none;
}