{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'js/game/init.js' %}"></script>
<script src="{% static 'js/game/perlin.js' %}"></script>
<script src="{% static 'js/game/map.js' %}"></script>
<script src="{% static 'js/game/blob.js' %}"></script>
<script src="{% static 'js/game/main.js' %}"></script>
{% endblock %}

{% block body %}
<canvas id="canvas"></canvas>
{% endblock %}