{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block js %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="large-6 column">
		<a href="{% url 'regex' %}"><button>Regular Expressions</button></a>
		<a href="{% url 'planets' %}"><button>Planetary Motion</button></a>
		<a href=""><button>Kinematics</button></a>
		<a href="{% url 'cells' %}"><button>Cells Simulator</button></a>
	</div>
	<div class="large-6 column">
		<a href="{% url 'authorship' %}"><button>Plagiarism Detection</button></a>
		<a href="{% url 'graph' %}"><button>Graphing Functions</button></a>
		<a href="{% url 'shapes' %}"><button>Drawing Shapes</button></a>
		<a href="{% url 'music' %}"><button>Music Composition</button></a>
	</div>
</div>
<div class="row" style="text-align:center;margin-top:40px;font-size:18px;">
<p>These exercises were created as part of a collaborative project by Tyler Hurson and Susan Rutherford for the WeTeach_CS Summit (2017). The purpose of these exercises was to introduce programming concepts to non-programmer high school students in a fun and engaging way.</p>
<p>Note: Some exercises do not work on Internet Explorer.</p>
<p>Contact <b>Tyler Hurson</b> at <a href="mailto:tyler.hurson@students.tamuk.edu">tyler.hurson@students.tamuk.edu</a> for answer keys and inquires about the exercises.</p>
</div>
{% endblock %}