{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/progress.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'js/progress.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row header">
	<div class="large-3 column">
		Session
	</div>
	<div class="large-9 column">
		<div class="num">1</div>
		<div class="num">2</div>
		<div class="num">3</div>
		<div class="num">4</div>
		<div class="num">5</div>
		<div class="num">6</div>
		<div class="num">7</div>
		<div class="num">8</div>
		<div class="num">9</div>
		<div class="num">10</div>
		<div class="num">11</div>
		<div class="num">12</div>
		<div class="num">13</div>
		<div class="num">14</div>
		<div class="num">15</div>
		<div class="num">16</div>
		<div class="num">17</div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
<div class="row session">
	<div class="large-3 column text">
		
	</div>
	<div class="large-9 column steps">
		<div class="rect"></div>
	</div>
</div>
{% endblock %}